.hero-container {
    position: relative;
    min-height: 10vh;
    width: 100vw;
    padding: 0;
    overflow: hidden;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .profile-pic {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    margin-top: 200px;
    object-fit: fill;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5); 
  }
  
  
  .moon {
    position: fixed;
    top: 100px;
    right: 100px;
    width: 100px;
    height: 100px;
    background: radial-gradient(circle at 30% 30%, #ccc, #999);
    border-radius: 50%;
    box-shadow: 0 0 40px #ccc;
    z-index: 1;
  }
  
  .stars {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  
  /* Common base style */
  .star {
    position: relative;
    background: white;
  }
  
  /*For static stars*/
  .static-star {
    position: fixed;
    background: white;
    border-radius: 50%;
    z-index: 0;
  }
  
  
  /* Falling stars */
  .falling-star {
    width: 1px;
    height: 80px;
    background: linear-gradient(to bottom, transparent, white);
    transform: rotate(30deg);
    animation: fallDiagonal 3s linear infinite;
    opacity: 1;
    border-radius: 1px;
  }
  
  @keyframes fallDiagonal {
    0% {
      transform: translate(0, 0) rotate(300deg);
      opacity: 1;
    }
    100% {
      transform: translate(100vw, 100vh) rotate(300deg);
      opacity: 0;
    }
  }
  
  .content {
    z-index: 2;
    text-align: center;
  }
  
  .content h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
  }
  
  .content p {
    font-size: 1.2rem;
    color: #aaa;
  }
  
    
  .hero-icons {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hero-icons a {
    margin: 0 10px;
    color: #aeaaaa;
    font-size: 1.3rem;
    transition: color 0.3s ease, transform 0.3s ease;
    display: inline-block;
  }
  
  .hero-icons a:hover {
    color: #ffffff;
    transform: translateY(-4px);
  }
  