.header {
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:  rgba(180, 180, 180, 0.1) transparent;
    position: fixed;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(6px);
  }
  
  .logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.4);
  }
  
  .nav-links {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

  .nav-links a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    position: relative;
    transition: color 0.3s ease;
  }
  
  .nav-links a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #ffffff;
    transition: width 0.3s;
  }
  
  .nav-links a:hover::after {
    width: 100%;
  }
  
  .nav-links a:hover {
    color: #aad9ff;
  }
 
  